<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simp |找到或是成為最棒的工具人</title>
    <!-- adding font from google font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="message.css">
</head>
<body>
    <main style="width: 100%; display: flex">
    <!-- sidebar -->
    <div class="sidebar">
        <h1 class="logo">Simp.com</h1>
        <!-- <div class="profile">
            <img class="profile-img" src="images/profile.jpg">
            <div class="profie-name">
                <h4>User 1</h4>
            </div>
        </div> -->
        <div class="menus">
            <a href="#"><ion-icon name="home-outline"></ion-icon>會員頁面</a>
            <a href="#"><ion-icon name="newspaper-outline"></ion-icon>刊登職缺</a>
            <a href="#"><ion-icon name="mail-unread-outline"></ion-icon>我的訊息</a>
            <a href="#"><ion-icon name="alarm-outline"></ion-icon>我的工作排程</a>
            <a href="#"><ion-icon name="bookmarks-outline"></ion-icon>我刊登的職缺</a>
            <a href="#"><ion-icon name="heart-outline"></ion-icon>我收藏的職缺</a>
            <a href="#"><ion-icon name="log-out-outline"></ion-icon>登出</a>
        </div>
    </div>
    <!-- main -->
    <div class="main">
            <div class="wrapper">
                <div class="card">
                    <div class="card-left">
                        <img src="images/wehelp_log.png">
                    </div>
                    <div class="card-center">
                        <h3>ID</h3>
                        <p class="card-detail">最新留言</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail">
        <ion-icon class="close-detail" name="close-outline"></ion-icon>
        <div class="detail-header">
            <h2>搬家人員</h2>
        </div>
        <hr class="divider">
        <div class="detail-desc">
            <div class="about">
                <h4>About company</h4>
                <p>132</p>
                <a href="#">Read more</a>
            </div>
            <hr class="divider">
            <div class="qualification">
                <h4>Qualification</h4>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                </ul>
            </div>   
        </div>
        <hr class="divider">
        <div class="detail-btn">
            <button class="btn-apply">Apply now</button>
            <button class="btn-save">Save Job</button>
        </div>
    </div>
    </main>
    <footer class="footer">
        <div class="footer_text">COPYRIGHT &copy; 2021 台北一日遊</div>
    </footer>
</body>
<!-- adding icon from ionicons -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<!-- adding library jquery -->
<script src="index.js"></script>
</html>