<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simp |找到或是成為最棒的工具人</title>
    <!-- adding font from google font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/application.css') }}">
</head>
<body>
    <main style="width: 100%; display: flex">
    <!-- sidebar -->
    <div class="sidebar">
        <h1 class="logo">Simp.com</h1>
        <!-- <div class="profile">
            <img class="profile-img" src="images/profile.jpg">
            <div class="profie-name">
                <h4>User 1</h4>
            </div>
        </div> -->
        <div class="menus">
            <a href="#"><ion-icon name="home-outline"></ion-icon>會員頁面</a>
            <a href="#"><ion-icon name="newspaper-outline"></ion-icon>刊登職缺</a>
            <a href="#"><ion-icon name="mail-unread-outline"></ion-icon>我的訊息</a>
            <a href="#"><ion-icon name="settings-outline"></ion-icon>我收藏的職缺</a>
            <a href="#"><ion-icon name="alarm-outline"></ion-icon>我的工作排程</a>
            <a href="#"><ion-icon name="bookmarks-outline"></ion-icon>我刊登的職缺</a>
            <a href="#"><ion-icon name="log-out-outline"></ion-icon>登出</a>
        </div>
    </div>
    <!-- main -->
    <div class="main">
    <div class="sort">
            <p>Sort</p>
            <div class="sort-list">
                <select>
                    <option value="0">All</option>
                    <option value="1">Latest Post</option>
                    <option value="2">Oldest Post</option>
                </select>
            </div>
        </div>
        <div class="wrapper">
            <div class="card">
                <div class="card-left blue-bg">
                    <img src="images/wehelp_log.png">
                </div>
                <div class="card-center">
                    <h3>搬家人員</h3>
                    <p class="card-detail">徵求臨時搬家人員</p>
                    <p class="card-loc"><ion-icon name="location-outline"></ion-icon>241 三重區</p>
                    <div class="card-sub">
                        <p><ion-icon name=today-outline> </ion-icon>11/06/2023</p>
                    </div>
                </div>
                <div class="card-right">
                    <div class="card-tag">
                        <h5>工作時間</h5>
                        <p><ion-icon name=today-outline></ion-icon>11/11/2023</p>
                        <p><ion-icon name="briefcase-outline"></ion-icon>08:00 - 12:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail">
        <ion-icon class="close-detail" name="close-outline"></ion-icon>
        <div class="detail-header">
            <h2>搬家人員</h2>
        </div>
        <hr class="divider">
        <div class="detail-desc">
            <div class="about">
                <h4>關於雇主</h4>
                <p>132</p>
                <a href="#">Read more</a>
            </div>
            <hr class="divider">
            <div class="qualification">
                <h4>詳細工作資訊</h4>
                <ul>
                    <li>工作內容</li>
                    <li>工作日期</li>
                    <li>工作時間</li>
                    <li>工作地點</li>
                    <li>薪資</li>
                    <li>其他補充</li>
                </ul>
            </div>   
        </div>
    </div>
    </main>
    <footer class="footer">
        <div class="footer_text">COPYRIGHT &copy; 2021 台北一日遊</div>
    </footer>
</body>
<!-- adding icon from ionicons -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<!-- adding library jquery -->
<script src="index.js"></script>
</html>