<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simp |找到或是成為最棒的工具人</title>
    <!-- adding font from google font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <main style="width: 100%; display: flex;">
    <!-- sidebar -->
        <div class="sidebar">
            <h1 id="returnIndex" class="logo">Simp.com</h1>
        </div>
        <div class="main">
            <section class="container_signup">
                <header>註冊</header>
                <div class="container_subtitle">請輸入您的個人資料</div>
                <form action="#" class="form" id="signupForm">
                    <div class="input_box">
                        <ion-icon class="icon" name="id-card-outline"></ion-icon>
                        <input type="text" placeholder="使用者名稱" id="signupName" name="signupName">
                    </div>
                    <div class="input_box">
                        <ion-icon class="icon" name="mail-outline"></ion-icon>
                        <!-- type 設定為email                         -->
                        <input type="email" placeholder="電子郵件" id="signupEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" name="signupEmail">
                    </div>
                    <div class="column">
                        <div class="input_box">
                            <ion-icon class="icon" name="key-outline"></ion-icon>
                            <input type="password" placeholder="6-12個英數字，大小寫不同" minlength="6" maxlength="12" id="signupPwd" name="signupPwd">
                        </div>
                        <div class="input_box">
                            <ion-icon class="icon" name="key-outline"></ion-icon>
                            <input type="password" placeholder="再次輸入密碼" id="signupRePwd">
                        </div>
                    </div>
                    <div class="signup_message_box"></div>
                    <button onclick="submitSignupForm(event)">註冊</button>
                    <div class="switch_to_singin">已經有帳戶了？點此登入</div>
                </form>
            </section>
            <section class="container_signin">
                <header>登入</header>
                <div class="container_subtitle">歡迎來到SIMP.COM</div>
                <form action="#" class="form" id="signinForm">
                    <div class="input_box">
                        <ion-icon class="icon" name="mail-outline"></ion-icon>
                        <input type="text" placeholder="電子郵件" id="signinEmail" name="signinEmail">
                    </div>
                    <div class="input_box">
                        <ion-icon class="icon" name="key-outline"></ion-icon>
                        <input type="password" placeholder="請輸入密碼" id="signinPwd" name="signinPwd">
                    </div>
                    <div class="signin_message_box"></div>
                    <button onclick= submitSigninForm(event)>登入</button>
                    <div class="signin-message-box">123</div>
                    <div class="switch_to_signup">還沒有帳戶？點此註冊</div>
                </form>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="footer_text">COPYRIGHT &copy; Simp.Com</div>
    </footer>
</body>
<!-- adding icon from ionicons -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<!-- adding library jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename= 'javaScript/register.js')}}"></script>
</html>